html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Mono', Arial, sans-serif;
	box-sizing: border-box;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
